<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form method="post">
        
        <label for="">제목</label>
        <input type="text" name="title">
        
        <label for=""> 게시글 </label>
        <input type="text" name="content">
                <!-- {title : input value, content : input value} 이렇게 넘어간다.  -->
        
        <button>추가</button>
    </form>

    <!-- action 을 따로 안 쓰면, 해당 url 에서 post 요청이 간다.  -->
</body>
</html>